<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>图书管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <link rel="stylesheet" href="/css/book.css">
    <script src="/js/jquery-3.4.1.min.js" ></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>

</head>

<body>

<!--导航栏-->
<div th:insert="~{navigation::nav}"></div>

<div class="container-fluid main">

    <ul class="nav nav-pills nav-justified">
        <li role="presentation" ><a href="/book" style="color: mediumpurple;">图书分类</a></li>
        <li role="presentation"><a href="/profile">个人中心</a></li>
        <li role="presentation"><a href="#">关于本馆</a></li>
    </ul>

    <!--图书分类-->
    <h2><span class="glyphicon glyphicon-list " aria-hidden="true"></span> 类别</h2>
    <hr>
    <div class="container-fluid" style="background-color: #d9edf7;">
            <div class="list-group col-xs-3 col-md-3" th:each="bookType:${classify}">
                <a th:class="${bookType.getMessage().equals(classic)?'list-group-item m-top bg-color-aqua':'list-group-item m-top'}"
                   th:href="@{/book(attribute='type',search=${bookType.getType()})}" th:text="${bookType.getMessage()}"></a>
            </div>
    </div>

    <!--显示图书-->
    <h2><span class="glyphicon glyphicon-list " aria-hidden="true"></span> 搜索</h2>
    <hr>
    <!--查询图书-->
        <!--搜索框-->
        <form class="nav nav-pills nav-justified">
            <div class="form-group input-group-lg col-xs-8">
                <input type="text" class="form-control" placeholder="Search" name="search">
            </div>
            <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search " aria-hidden="true"></span>搜索</button>
        </form>

        <!--显示图书列表-->
        <h2><span th:text="${attribute.equals('type')?classic:'书库'}" class="glyphicon glyphicon-list " aria-hidden="true"></span></h2>
        <hr>
        <div class="container-fluid">
            <div class="media col-xs-6 col-md-4"  th:each="bookDTO:${pageDTO.getDataDTOS()}">
                <!--封面-->
                <div class="media-left">
                    <a th:href="@{'/book/'+${bookDTO.id}}">
                        <img class="media-object" th:src="${bookDTO.cover}" height="165" width="120">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading" >
                        <a th:href="@{'/book/'+${bookDTO.id}}" th:text="${bookDTO.name}"></a>
                    </h3>
                    <span class="text-gray-small">
                        书籍编号：<span th:text="${bookDTO.number}"></span><br>
                        书籍状态：<span th:text="${bookDTO.status}"></span><br>
                        书籍类型:<span th:text="${bookDTO.type}"></span><br>
                        入库时间：<span th:text="${#dates.format(bookDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span><br>
                        变动时间：<span th:text="${#dates.format(bookDTO.gmtModified,'yyyy-MM-dd HH:mm')}"></span>
                </span>

                </div>
            </div>
        </div>


        <!--分页-->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:if="${pageDTO.showFirst}">
                    <a th:href="@{/book/(page=1,search=${search},attribute=${attribute})}" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:if="${pageDTO.showPre}">
                    <a th:href="@{/book/(page=${pageDTO.currentPage - 1},search=${search},attribute=${attribute})}" aria-label="Pre">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <li th:each=" page: ${pageDTO.pages}" th:class="${pageDTO.currentPage==page}?'active':''"><a th:href="@{/book/(page=${page},search=${search},attribute=${attribute})}" th:text="${page}" ></a></li>

                <li th:if="${pageDTO.showNext}">
                    <a th:href="@{/book/(page=${pageDTO.currentPage+1},search=${search},attribute=${attribute})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li th:if="${pageDTO.showEnd}">
                    <a th:href="@{/book/(page=${pageDTO.totalPage},search=${search},attribute=${attribute})}" aria-label="End">
                        <span aria-hidden="true">&raquo;</span>
                    </a>

                </li>
            </ul>
        </nav>

    </div>
<!--页尾-->
<div th:insert="~{footer::foot}"></div>
</body>
</html>