<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>图书管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/book.css">
    <script src="/js/jquery-3.4.1.min.js" ></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>

</head>

<body>

<!--导航栏-->
<div th:insert="~{navigation::nav}"></div>

<div class="container-fluid main">

    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#">图书分类</a></li>
        <li role="presentation"><a href="#">读者建议</a></li>
        <li role="presentation"><a href="#">关于本馆</a></li>
    </ul>

    <!--图书分类-->

    <div class="container-fluid main">

        <div class="">
            <div th:each="bookType:${classify}">
                <a href="#" th:text="${bookType.getMessage()}"></a>
            </div>
        </div>

    </div>

    </div>
<!--页尾-->
<!--<div th:insert="~{footer::foot}"></div>-->
</body>
</html>