<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>图书管理系统(管理端）</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/manage.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <script src="/js/jquery-3.4.1.min.js" ></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>

</head>
<!--是否关闭页面-->
<!--<script type="application/javascript">-->
    <!--window.onload=function () {//进入页面的时候加载-->
        <!--var closable=window.localStorage.getItem("closable");-->
        <!--if (closable=="true"){//localStorage里存的是字符串-->
            <!--window.close();-->
            <!--window.localStorage.removeItem("closable");-->
        <!--}-->
    <!--}-->
<!--</script>-->

<body>

<!--导航栏-->
<div th:insert="~{navigation-manage::nav}"></div>

<div class="container-fluid main">

    <!--左边-->
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 list-group bg-black">
            <a href="#" class="list-group-item active">
                Cras justo odio
            </a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>


    </div>

    <!--右边-->
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <h1>ssssssssss</h1>


    </div>


    </div>
<!--页尾-->
<!--<div th:insert="~{footer::foot}"></div>-->
</body>
</html>