<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>绑定手机号</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <script src="/js/jquery-3.4.1.min.js" ></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/profile.js" type="application/javascript"></script>
    <script src="/js/myjs.js" type="application/javascript"></script>

</head>

<body>

<!--导航栏-->
<div th:insert="~{navigation::nav}"></div>

<div class="align-items-center ">

    <div class="bg">
        <div >
            <div class="text-center ">
                <a href="/"><img class="img-top" src="/images/phone.png"  height="100" width="100"></a>
            </div>

            <h3 class="text-center">绑定手机</h3>

        </div>

        <div class="phone-page">
            <div class="tiled ">
                <form class="form-inline">
                    <div>
                        <input type="text" class="form-control pad-30" id="phone" name="phone" value="" placeholder="手机号码">
                        <button type="button" class="btn btn-primary pad-20 m-l-30" id="send" onclick="verify()">发送短信验证码</button>
                    </div>
                </form>
                    <div>
                        <input type="text" class="form-control pad-30 m-top-30" id="verifyCode" name="verifyCode" value="" placeholder="短信验证码">
                        <button type="button" class="btn btn-primary btn-block pad-20 m-top-30" onclick="check()" >绑定手机号</button>
                    </div>

            </div>




        </div></div>
    <div id="intercom-modal-container"></div>
    <!--页尾-->
    <div th:insert="~{footer::foot}"></div>
</div>

</body>
</html>