<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/jquery-3.4.1.min.js" ></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>

</head>

<body>

<!--导航栏-->
<div th:insert="~{navigation::nav}"></div>

<div class="align-items-center ">

<div class="bg">
    <div >
        <div class="text-center ">
            <a href="/"><img class="img-top" src="/images/user_register.png"  height="100" width="100"></a>
        </div>

        <h3 class="text-center">读者注册</h3>

    </div>

    <div class="fixed-page">
        <div class="tiled ">
            <form action="/publish" method="post">
                <div class="form-group ">
                    <label>请输入您的学号</label>
                    <input type="text" class="form-control" name="user" value="">
                    <label>请输入您的密码</label>
                    <input type="password" class="form-control" name="pass" value="">
                    <label>请确认您的密码</label>
                    <input type="password" class="form-control" name="re_pass" value="">
                    <p class="help-block">小提示:
                        <br>1.已经注册过的学号不能再注册了
                        <br>2.不是我们学校的学生不可以注册</p>
                </div>
                <button type="submit" class="btn btn-primary btn-block m-t-25">注册</button>
            </form>
        </div>




    </div></div>
    <div id="intercom-modal-container"></div>
    <!--页尾-->
    <div th:insert="~{footer::foot}"></div>
</div>

</body>
</html>