<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>图书管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/mystyle.css" type="text/css">
    <link rel="stylesheet" href="/css/book.css" type="text/css">
    <script src="/js/jquery-3.4.1.min.js" ></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/book.js"></script>

</head>

<body>

<!--导航栏-->
<div th:insert="~{navigation::nav}"></div>

<div class="container-fluid main">

    <ul class="nav nav-pills nav-justified">
        <li role="presentation" ><a href="/book" class="active-mediumpurple">图书分类</a></li>
        <li role="presentation"><a href="/profile">个人中心</a></li>
        <li role="presentation"><a href="#">关于本馆</a></li>
    </ul>


    <!--搜索图书-->
    <h2><span class="glyphicon glyphicon-list " aria-hidden="true"></span> 搜索</h2>
    <hr>
    <!--搜索框-->
    <form class="nav nav-pills nav-justified">
        <div class="form-group input-group-lg col-xs-8">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search " aria-hidden="true"></span>搜索</button>
    </form>

        <!--显示图书-->
        <h2><span class="glyphicon glyphicon-list " aria-hidden="true"></span> 类别名</h2>
        <hr>
        <div class="container-fluid">
            <div class="media col-xs-12 col-md-12" >
                <!--封面-->
                <div class="media-left col-xs-4 col-md-4 m-bottom">
                    <a href="#">
                        <img class="media-object" th:src="${bookDTO.cover}" height="330" width="240">
                    </a>
                </div>
                <div class="media-middle col-xs-4 col-md-4 ">
                    <h3 class="media-heading" >
                        <a th:href="@{'/book/'+${bookDTO.id}}" th:text="${bookDTO.name}"></a>
                    </h3>
                    <span class="text-gray-small ">
                        书籍编号：<span th:text="${bookDTO.number}"></span><br>
                        书籍状态：<span th:text="${bookDTO.status}"></span><br>
                        书籍类型:<span th:text="${bookDTO.type}"></span><br>
                        入库时间：<span th:text="${#dates.format(bookDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span><br>
                        变动时间：<span th:text="${#dates.format(bookDTO.gmtModified,'yyyy-MM-dd HH:mm')}"></span><br>
                        简介:<br>&emsp;&emsp;<span th:text="${bookDTO.brief}"></span><br>
                    </span>
                </div>
                <div class="media-right col-xs-4 col-md-4 ">
                    <button type="button" class="btn btn-success btn-pad" th:data-id="${bookDTO.id}" th:data-status="${bookDTO.status}"
                             onclick="apply(this)">申请借阅</button><br>
                    <br>
                    <button type="button" class="btn btn-info btn-pad"  onclick="back()">返回逛逛</button>
                </div>

            </div>

        </div>



    </div>
<!--页尾-->
<div th:insert="~{footer::foot}"></div>
</body>
</html>